#ETR{
    position: relative;
    height: min-content;
    width: min-content;
    margin-top: 7ex;

    white-space: nowrap;

    font-size: 1.1rem;
    text-align: center;
    text-shadow: var(--shadow);

    left: 50%;
    transform: translate(-50%, 0);
}

#ETR div{
    opacity: 0;

    background-color: var(--foreground01);
    box-shadow: var(--shadow);

    transition: opacity 0.1s;
}

#ETRValue{
    margin-top: 4pt;
    text-transform: uppercase;
}
